# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

packages/*/dist/
packages/ui/dist/
apps/*/dist/

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
*.env
*.env.*
!.env.example
!*.env.example
!*.env.sample
!*/.env.example

# keep Next.js example envs tracked
!apps/web/.env.local.example

# turbo
.turbo
packages/database/prisma/dev.db
packages/database/prisma/dev.db-journal
packages/database/prisma/migrations/20250909075958_init/migration.sql

# typescript build info
*.tsbuildinfo
